<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px">
          <div *ngIf="perfil == null">
          <app-registro-perfil (emitPerfilRegister)="SetPerfil($event)"></app-registro-perfil>
          </div>
          
          <div *ngIf="perfil != null">

        
          <ngx-spinner
            template="<button class='btn btn-primary text-nowrap'>
          <span class='spinner-border spinner-border-sm mr-2'></span>
          Enviando datos...</button>"
            bdColor="rgba(19,52,122,0.8)"
            type="pacman"
            size="default"
            color="#fff"
            [fullScreen]="false"
          ></ngx-spinner>

          <form
            class="needs-validation"
            [formGroup]="userForm"
            (ngSubmit)="Registrar()"
          >
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4">
                      Infomación personal
                    </h3>
                    <div class="row" *ngIf="isLogged">
                      <!-- Radio Buttons -->
                      <div class="group-gap">
                        <h5 class="fw-normal mb-5" style="color: #4835d4">
                          Seleccione perfil del usuario a crear...
                        </h5>
                        <div class="col-md-6 mb-4 pb-2">
                          <div class="custom-control custom-radio">
                            <input
                            id="perfil"
                              type="radio"
                              class="custom-control-input"
                              name="perfil"
                              formControlName="perfil"
                              value="paciente"
                              (click)="SetPerfil('paciente')"
                            />
                            <label class="custom-control-label" for="Paciente"
                              >Paciente</label
                            >
                          </div>
                          <div class="custom-control custom-radio">
                            <input
                              type="radio"
                              class="custom-control-input"
                              name="perfil"
                              formControlName="perfil"
                              value="especialista"
                              (click)="SetPerfil('especialista')"
                            />
                            <label
                              class="custom-control-label"
                              for="Especialista"
                              >Especialista</label
                            >
                            <div class="custom-control custom-radio">
                              <input
                                type="radio"
                                class="custom-control-input"
                                name="perfil"
                                formControlName="perfil"
                                value="admin"
                                (click)="SetPerfil('admin')"
                              />
                              <label
                                class="custom-control-label"
                                for="admin"
                                >Administrador</label
                              >
                            </div>
                          </div>
                          <small
                            class="text-danger"
                            *ngIf="userForm.controls['perfil'].errors"
                          >
                            Debe elegir una opcion
                          </small>
                        </div>
                      </div>
                    </div>
                      <!-- end radio buttons-->
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2"
                            >Nombre</label
                          >
                          <input
                            formControlName="nombre"
                            type="text"
                            class="form-control form-control-lg"
                          />
                          <small
                            class="text-danger"
                            *ngIf="
                              userForm.controls['nombre'].errors &&
                              userForm.controls['nombre'].touched
                            "
                          >
                            Minimo tres letras
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev3">
                            Apellido</label
                          >
                          <input
                            formControlName="apellido"
                            type="text"
                            class="form-control form-control-lg"
                          />
                          <small
                            class="text-danger"
                            *ngIf="
                              userForm.controls['apellido'].errors &&
                              userForm.controls['apellido'].touched
                            "
                          >
                            Este dato es obligatorio
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2"
                            >Edad</label
                          >
                          <input
                            formControlName="edad"
                            type="number"
                            class="form-control form-control-lg"
                          />

                          <small
                            class="text-danger"
                            *ngIf="
                              userForm.controls['edad'].errors &&
                              userForm.controls['edad'].touched
                            "
                          >
                            Este dato es obligatorio
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev3"
                            >DNI</label
                          >
                          <input
                            formControlName="dni"
                            type="number"
                            class="form-control form-control-lg"
                          />

                          <small
                            class="text-danger"
                            *ngIf="
                              userForm.controls['dni'].errors &&
                              userForm.controls['dni'].touched
                            "
                          >
                            Este dato es obligatorio
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2" *ngIf="!isLogged">
                      <div
                        class="form-outline"
                        *ngIf="perfil == 'paciente'; else especialista"
                      >
                        <label class="form-label" for="form3Examplev4"
                          >Obra Social</label
                        >
                        <input
                          formControlName="obraSocial"
                          type="text"
                          class="form-control form-control-lg"
                        />

                        <!-- <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['obraSocial'].errors &&
                            userForm.controls['obraSocial'].touched
                          "
                        >
                          Este dato es obligatorio
                        </small> -->
                      </div>
                      <ng-template #especialista>
                        <label class="form-label" for="form3Examplev4"
                          >Especialidad</label>
                        <app-input *ngIf="!especialidadElegida else EspecialidadSeleccionada" (onEnterTermino)="BuscarEspecialidad($event)"></app-input>
                        <ng-template #EspecialidadSeleccionada>
                          <div class="row">
                            <div class="col">
                              <strong>{{especialidadElegida?.nombre}}</strong>
                            </div>
                          </div>

                         
                        </ng-template>
                        <div *ngIf="especialidades.length>0 && !especialidadElegida">
                          <div class="row">
                            <div class="col">
                              <table class="table table-striped mt-5">
                                <tbody>
                                  <tr *ngFor="let u of especialidades" class="linea">
                                    <td>{{ u.nombre | titlecase }}</td>
                                    <td>
                                      <div class="btn btn-warning" (click)="SetEspecialidad(u)">
                                        Elegir
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                          <div *ngIf="buscoEspecialidad && especialidades.length==0">
                            <div class="row">
                              <div class="col">
                                <table class="table table-striped mt-5">
                                  <tbody>
                                    <tr class="linea">
                                      <td>No se encontró <strong> {{especialidadBusqueda | uppercase}}</strong>.
                                        <br> ¿Desea agregar su especialidad a la base de datos?</td>
                                      <td></td>
                                      <td>
                                        <div class="btn btn-warning" (click)="CreateEspecialidad(especialidadBusqueda)">
                                          Si
                                        </div>
                                      </td>
                                      <td>
                                        <div class="btn btn-warning" (click)="AgregoEspecialidad(false)">
                                          No
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        <!-- <input
                          formControlName="especialidad"
                          type="text"
                          class="form-control form-control-lg"
                        /> -->
                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['especialidad'].errors &&
                            userForm.controls['especialidad'].touched
                          "
                        >
                          Este dato es obligatorio
                        </small>
                      </ng-template>
                    </div>
                   
                    <!-- SUBIDA ARCHIVOS -->
                    <div class="avatar-upload">
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="file"
                          class="form-control form-control-lg"
                          accept=".png, .jpg, .jpeg"
                          (change)="uploadFile($event)"
                          multiple
                        />
                        <label class="form-label" for="form3Examplev4">
                          Adjuntar archivo</label
                        >
                      </div>
                    </div>
                    <!-- <div *ngIf="perfil == 'paciente'">
                      <div class="mb-4 pb-2">
                        <div class="form-outline">
                          <input
                            type="file"
                            accept=".png, .jpg, .jpeg"
                            class="form-control form-control-lg"
                          />
                          <label class="form-label" for="form3Examplev4"
                            >Imagen 2</label
                          >
                        </div>
                      </div>
                    </div> -->
                    </div>
            <!--END FILES UPLOAD-->
                  </div>
                </div>

                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Datos de contacto y acceso</h3>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea2"
                          >Correo electrónico</label
                        >
                        <input
                          formControlName="email"
                          type="email"
                          class="form-control form-control-lg"
                        />

                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['email'].errors &&
                            userForm.controls['email'].touched
                          "
                        >
                          Este dato es obligatorio
                        </small>
                      </div>
                    </div>

                    <!-- <div class="row">
                    <div class="col-md-5 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input
                          type="text"
                          id="form3Examplea7"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form3Examplea7"
                          >Code +</label
                        >
                      </div>
                    </div>
                    <div class="col-md-7 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input
                          type="text"
                          id="form3Examplea8"
                          class="form-control form-control-lg"
                          />
                          <label class="form-label" for="form3Examplea8"
                          >Numero de teléfono</label
                        >
                      </div>
                    </div>
                    </div> -->

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea3"
                          >Elija su contraseña</label
                        >
                        <input
                          formControlName="password"
                          type="password"
                          class="form-control form-control-lg"
                        />

                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['password'].errors &&
                            userForm.controls['password'].touched
                          "
                        >
                          Este dato es obligatorio
                        </small>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea6"
                          >Repita contraseña</label
                        >
                        <input
                          formControlName="password2"
                          type="password"
                          class="form-control form-control-lg"
                        />

                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['password2'].errors &&
                            userForm.controls['password2'].touched
                          "
                        >
                          <div class="btn btn-warning">
                            Los password deben ser iguales.
                          </div>
                        </small>
                      </div>
                    </div>

                    <!-- <div class="mb-4">
                    <div class="form-outline form-white">
                      <input
                        type="text"
                        id="form3Examplea9"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Examplea9"
                        >Your Email</label
                      >
                    </div>
                    </div> -->

                    <!-- CAPTCHA-->
                    <div class="captcha">        
                      <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      formControlName="recaptcha">
                    </ngx-recaptcha2>
                  </div>
                  <!--end Captcha-->
                    <button
                      type="button"
                      class="btn btn-light btn-lg m-2"
                      data-mdb-ripple-color="dark"
                      type="submit"
                      [disabled]="userForm.invalid"
                    >
                      Registrar Usuario
                    </button>
                    <button
                    type="button"
                    class="btn btn-danger btn-lg m-2"
                    data-mdb-ripple-color="dark"
                    (click) = 'Cancelar()'>
                    Cancelar
                  </button>
                    <br />
                    <small
                      class="btn btn-danger"
                      style="margin-top: 10px"
                      *ngIf="createUserError"
                    >
                      Se ha producido un error: {{ createUserError }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
