<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
        <form
          class="needs-validation"
          [formGroup]="userForm"
          (ngSubmit)="Registrar()"
        >
          <div class="card-body p-0">
            <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4">
                      Infomación personal
                    </h3>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2"
                            >Nombre</label
                          >
                          <input
                            formControlName="nombre"
                            type="text"
                            class="form-control form-control-lg"
                          />
                          <small
                          class="text-danger"
                          *ngIf=" userForm.controls['nombre'].errors &&
                                  userForm.controls['apellido'].touched"
                          >
                          Minimo tres letras
                          </small>
                          </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev3">
                            Apellido</label
                          >
                          <input
                            formControlName="apellido"
                            type="text"
                            class="form-control form-control-lg"
                          />
                          <small
                            class="text-danger"
                            *ngIf="
                              userForm.controls['apellido'].errors &&
                              userForm.controls['apellido'].touched
                            "
                          >
                            Este dato es obligatorio
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2"
                            >Edad</label
                          >
                          <input
                            formControlName="edad"
                            type="number"
                            class="form-control form-control-lg"
                          />

                          <small
                            class="text-danger"
                            *ngIf="
                              userForm.controls['edad'].errors &&
                              userForm.controls['edad'].touched
                            "
                          >
                            Este dato es obligatorio
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev3"
                            >DNI</label
                          >
                          <input
                            formControlName="dni"
                            type="number"
                            class="form-control form-control-lg"
                          />

                          <small
                            class="text-danger"
                            *ngIf="
                              userForm.controls['dni'].errors &&
                              userForm.controls['dni'].touched
                            "
                          >
                            Este dato es obligatorio
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev4"
                          >Obra Social</label
                        >
                        <input
                          formControlName="obraSocial"
                          type="text"
                          class="form-control form-control-lg"
                        />

                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['obraSocial'].errors &&
                            userForm.controls['obraSocial'].touched
                          "
                        >
                          Este dato es obligatorio
                        </small>
                      </div>
                    </div>
                    <!-- Upload image
<div class="avatar-upload">
  <div class="avatar-edit">
     <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
     <label for="imageUpload" *ngIf="editFile" [ngClass]="['custom-label', 'upload-image']"></label>
     <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']" (click)="removeUploadedFile()"></label>
  </div>
  <div class="avatar-preview">
     <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
     </div>
  </div>
</div> -->
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="file"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form3Examplev4">
                          Imagen 1</label
                        >
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input
                          type="file"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form3Examplev4"
                          >Imagen 2</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Datos de contacto y acceso</h3>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea2"
                          >Correo electrónico</label
                        >
                        <input
                          formControlName="email"
                          type="email"
                          class="form-control form-control-lg"
                        />

                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['email'].errors &&
                            userForm.controls['email'].touched
                          "
                        >
                          Este dato es obligatorio
                        </small>
                      </div>
                    </div>

                    <!-- <div class="row">
                    <div class="col-md-5 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input
                          type="text"
                          id="form3Examplea7"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form3Examplea7"
                          >Code +</label
                        >
                      </div>
                    </div>
                    <div class="col-md-7 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input
                          type="text"
                          id="form3Examplea8"
                          class="form-control form-control-lg"
                          />
                          <label class="form-label" for="form3Examplea8"
                          >Numero de teléfono</label
                        >
                      </div>
                    </div>
                    </div> -->

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea3"
                          >Elija su contraseña</label
                        >
                        <input
                          formControlName="password"
                          type="password"
                          class="form-control form-control-lg"
                        />

                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['password'].errors &&
                            userForm.controls['password'].touched
                          "
                        >
                          Este dato es obligatorio
                        </small>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea6"
                          >Repita contraseña</label
                        >
                        <input
                          formControlName="password2"
                          type="password"
                          class="form-control form-control-lg"
                        />

                        <small
                          class="text-danger"
                          *ngIf="
                            userForm.controls['password2'].errors &&
                            userForm.controls['password2'].touched
                          "
                        >
                          Los password deben ser iguales.
                        </small>
                      </div>
                    </div>

                    <!-- <div class="mb-4">
                    <div class="form-outline form-white">
                      <input
                        type="text"
                        id="form3Examplea9"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Examplea9"
                        >Your Email</label
                      >
                    </div>
                    </div> -->

                    <button
                      type="button"
                      class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark"
                      type="submit"
                      [disabled]="userForm.invalid"
                    >
                      Registrarse
                    </button>
                    <br>
                    <small
                    class="btn btn-danger" style="margin-top: 10px;"
                    *ngIf="createUserError"
                    >
                    Se ha producido un error: {{createUserError}}
                  </small>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
