<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/logo.jpg" alt="" width="60" height="48">
      Clinica OnLine
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="./home">Home</a>
        </li>
        <li class="nav-item" *ngIf="!userLogged">
          <a class="nav-link" routerLink="registro">Registro</a>
        </li>
        <li class="nav-item" *ngIf="perfilUserLogged== 'admin'" >
          <a class="nav-link" routerLink="./usuarios">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="perfilUserLogged== 'admin'" >
          <a class="nav-link" routerLink="./turnos/mis-turnos">Turnos</a>
        </li>
        <li class="nav-item" *ngIf="userLogged && perfilUserLogged != 'admin'">
          <a class="nav-link" routerLink="./turnos/mis-turnos">Mis Turnos</a>
        </li>
        <li class="nav-item" *ngIf="userLogged && perfilUserLogged != 'especialista'">
          <a class="nav-link" routerLink="./turnos/solicitud">Solicitar Turno</a>
        </li>
        <li class="nav-item" *ngIf="userLogged">
          <a class="nav-link" routerLink="./perfil">Mi Perfil</a>
        </li>
      </ul>
    </div>
    <div *ngIf="userLogged != null  else LoginButton">
      {{userLogged}}
      <button type="button" class="btn btn-warning" (click)="Salir()">Salir</button>
    </div>
    <ng-template #LoginButton>
      <button type="button" class="btn btn-info" routerLink="./login">Ingresar</button>
    </ng-template>
  </div>
</nav>
<router-outlet></router-outlet>