<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src='{{userPhoto}}'>
            <span class="font-weight-bold">{{usuario?.apellido}}, {{usuario?.nombre}} </span>
            <span class="text-black-50">{{usuario?.email}}</span>
            <span class="text-black-75">{{usuario?.perfil}} </span></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Perfil Usuario</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control disabled" value="{{usuario?.nombre}}"></div>
                  <div class="col-md-6"><label class="labels">Apellido</label><input type="text" class="form-control disabled" value="{{usuario?.apellido}}" placeholder="surname"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control disabled" placeholder="enter email id" value="{{usuario?.email}}"></div>
                  <!-- <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div> -->
                  <div class="col-md-12"><label class="labels">DNI</label><input type="text" class="form-control disabled" placeholder="enter address line 1" value="{{usuario?.dni}}"></div>
                  <div class="col-md-12"><label class="labels">Edad</label><input type="text" class="form-control disabled" placeholder="enter address line 2" value="{{usuario?.edad}}"></div>
                  <div class="col-md-12" *ngIf="usuario?.obraSocial"><label class="labels">Obra Social</label><input type="text" class="form-control disabled" placeholder="enter address line 2" value="{{usuario?.obraSocial}}"></div>
                  <div class="col-md-12" *ngIf="usuario?.especialidad"><label class="labels">Especialidad</label><input type="text" class="form-control disabled" placeholder="enter address line 2" value="{{usuario?.especialidad}}"></div>
                  <div class="col-md-12" *ngIf="usuario?.especialidad"><label class="labels">Perfil Activo</label><input type="text" class="form-control disabled" placeholder="" value="{{usuario?.activo}}">
                  <!-- <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div> -->
              </div>
              <!-- <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                  <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
              </div> -->
              <!-- <div class="mt-5 text-center" *ngIf="usuario?.especialidad"><button class="btn btn-info profile-button" type="button" (click)="ActivarUsuario()">Activar Usuario</button></div> -->
              <!-- <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="GuardarCambios()">Guardar Cambios</button></div> -->
          </div>
      </div>
      <!-- <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>Info Adicional</span><span class="border px-3 p-1 add-experience"></span></div><br>
              <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
          </div>
      </div> -->
  </div>
</div>

<!-- <div class="container">
  <h3>Edicion de usuario</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
            <p class="aboutus-text">{{usuario?.nombre}}</p>
            <p class="aboutus-text">{{usuario?.apellido}}</p>
            <p class="aboutus-text">{{usuario?.dni}}</p>
            <p class="aboutus-text">{{usuario?.edad}}</p>
            <p class="aboutus-text" >{{usuario?.email}}</p>
            <p class="aboutus-text" >{{usuario?.obraSocial}}</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
            <img class="gb_Da gbii" src={{usuario?.photoPerfilURL}}  alt="Photo" aria-hidden="true" data-noaft="">
    </div>
  <p>usuario: {{ usuario | json }}</p>
</div> -->
  <!-- <button type="button" class="btn btn-primary">Volver</button> -->
