<div class="container mt-5">
  <div class="card">
    <div class="card-body">
        <span class="h3">Listado </span>
        <!--chk box -->
        
        <!-- END chekbox-->
<br>
 Busqueda: <input type="text">

        <h4 *ngIf='turnos.length==0'>No se encontraron usuarios</h4>
        <table class="table table-striped mt-5" *ngIf="turnos.length > 0">
        <thead>
          <tr>
            <th style="display: none"></th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Especialista</th>
            <th>Estado turno</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- <ngx-spinner
            template="<div class='spinner-border text-info' role='status'>"
            bdColor="rgba(19,52,122,0.8)"
            size="default"
            color="#fff"
            type="pacman"
            [fullScreen]="false">
            <p style="color: white">Procesando...</p>
            </ngx-spinner> -->
          <tr *ngFor="let p of turnos" class="linea">
            <td style="display: none">{{ p.uid }}</td>
            <td>{{ p.fecha | date: "dd-MM-yyyy" }}</td>
            <td>{{ p.startStr | date: "HH:mm" }}</td>
            <td>{{ p.especialistaId }}</td>
            <td>{{p.estado | titlecase}</td>
            <td>
              <button
                type="button"
                class="btn btn-info btn-circle"
                (click)="VerResenia()"
              >
                <i class="fa fa-check">Ver reseña</i>
              </button>
            </td>
            <td >
                <button class="btn btn-danger btn-circle">
                    <i class="fa fa-check" (click)="Cancelar()">Cancelar</i>

                </button>
            </td>
            <td >
              <button class="btn btn-green btn-circle">
                  <i class="fa fa-check" (click)="Encuestar()">Completar encuesta</i>

              </button>
          </td>
          <td >
            <button class="btn btn-green btn-circle">
                <i class="fa fa-check" (click)="Calificar()">Calificar atención</i>
            </button>
        </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
