<div class="container ">
  <div class="row">
    <div class="col">
      <div class="colm-form">
        <div class="form-container">
            <!-- <form action=""> -->
                <input type="text" placeholder="Email address or phone number" [(ngModel)]="usuario.email" />
                <input type="password" placeholder="Password" [(ngModel)]="usuario.password"/>
                <button class="btn-login" type="submit" (click)="Ingresar()">Login</button>

                <div *ngIf="loginError">
                  <span class="btn btn-danger">Error de usuario o contraseña</span>
                  <a href="#">¿Olvidó su contraseña?</a>
                  <a>¿Desea registrarse?</a>
                </div>
                <div *ngIf="loginErrorUser">
                  <span class="btn btn-danger">Usuario no encontrado</span>
                  <a (click)="ToRegister()">¿Desea registrarse?</a>
                </div>
                <div *ngIf="loginErrorPass">
                  <span class="btn btn-danger">Contraseña incorrecta</span>
                  <a routerLink="./">¿Olvidó su contraseña?</a>
                </div>
                <button class="btn-new" (click)="ToRegister()">Registrarse</button>
            <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
