<div class="container">
  <div class="row">
    <div class="col">
      <div class="colm-form">
        <div class="form-container">
          <ngx-spinner
            template="<div class='spinner-border text-info' role='status'>"
            bdColor="rgba(19,52,122,0.8)"
            size="default"
            color="#fff"
            type="pacman"
            [fullScreen]="false"
            ><p style="color: white">Ingresando...</p></ngx-spinner
          >
          <!-- <form action=""> -->
          <input
            type="text"
            placeholder="Email address"
            [(ngModel)]="usuario.email"
          />
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="usuario.password"
          />

          <button class="btn-login" (click)="Ingresar()">Login</button>

          <div *ngIf="loginError && !loginErrorValidationMail">
            <span class="btn btn-danger">Error de usuario o contraseña</span>
          </div>
          <div *ngIf="loginErrorUser">
            <span class="btn btn-danger">Usuario no encontrado</span>
            <a (click)="ToRegister()">¿Desea registrarse?</a>
          </div>
          <div *ngIf="loginErrorValidationMail">
            <span class="btn btn-danger"
              >Debe validar su correo electronico para ingresar</span
            >
          </div>
          <div *ngIf="loginErrorPass">
            <span class="btn btn-danger">Contraseña incorrecta</span>
            <a routerLink="./">¿Olvidó su contraseña?</a>
          </div>
          <button class="btn-new mb-3" (click)="ToRegister()">
            Registrarse
          </button>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="colm-form">
        <div class="form-container">
          <h4>Accesos</h4>
          <a *ngFor="let p of usuarios" class="btn btn-new" (click)="Login(p)">
            {{p.nombre | titlecase}} {{p.apellido | titlecase}} - {{p.perfil | uppercase}} 
            <img src={{p.photoPerfilURL}} width="50" height="50" alt="photo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
