<div class="container">
  <h4>Mis pacientes</h4>

  <h4 *ngIf="misPacientes.length == 0">No se encontraron usuarios</h4>
  <div *ngIf="misPacientes.length > 0" class="row">
    <div
      class="card"
      style="width: 18rem; align-items: center"
      *ngFor="let p of misPacientes">
      <img
        src="{{ p.photoPerfilURL }}"
        class="rounded-circle mt-5"
        width="75px"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ p.apellido | titlecase }}, {{ p.nombre | titlecase }}
        </h5>
        <p class="card-text"><strong>Consultas realizadas:</strong> </p>
        <div *ngFor="let t of turnosEfectivos">
            <div class="card-text" *ngIf="p.uid == t.pacienteId">
              Dia: {{ t.fecha | date: "dd-MM-yyyy HH:mm" }} hs.
              <a class="btn btn-primary" (click)="VerResenia(t)">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
