<p>pacientes works!</p>

<h4 *ngIf='pacientes.length==0'>No se encontraron usuarios</h4>
<table class="table table-striped mt-5" *ngIf="pacientes.length > 0">
<thead>
  <tr>
    <th style="display: none"></th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Documento</th>
    <th>Contacto</th>
    <th>Foto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <ngx-spinner
    template="<div class='spinner-border text-info' role='status'>"
    bdColor="rgba(19,52,122,0.8)"
    size="default"
    color="#fff"
    type="pacman"
    [fullScreen]="false">
    <p style="color: white">Procesando...</p>
    </ngx-spinner>
  <tr *ngFor="let p of pacientes" class="linea">
    <td style="display: none">{{ p.uid }}</td>
    <td>{{ p.nombre }}</td>
    <td>{{ p.apellido }}</td>
    <td >
      <button *ngIf="p.activo==false" class="btn btn-green btn-circle">
          <i class="fa fa-check" (click)="VerHistoria(p)">Ver Historia</i>

      </button>
  </td>
  </tr>
</tbody>
</table>
