<app-input (onEnterTermino)="Buscar($event)"></app-input>

<div *ngIf="flagSearch==true">
    <div class="alert alert-danger" *ngIf="especialistas.length == 0">
        No se encontró especialista con el termino {{termino}}
    </div>
</div>
        <!-- BUSQUEDA ESPECIALISTA-->
        <div class="row">
            <div class="col">
                <table class="table table-striped mt-5">
                    <thead>
                      <tr>
                        <th style="display: none"></th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
        
                      <tr *ngFor="let u of especialistas" class="linea">
                        <td style="display: none"></td>
                        <td>{{u.nombre}}</td>
                        <td>{{u.apellido}}</td>
                        <td>{{u.especialidad | titlecase}}</td>
                        <td><button class="btn btn-warning" (click)="SeleccionEsp(u.uid)">Elegir</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <!--END BUSQUEDA ESPECIALISTA -->
